.first-screen{
  text-align: center;
}
.second-screen{
  width: 100%;
}
.second-screen-left{
  width: 50%;
  float: left;
}
..second-screen-right{
width: 50%;
float: right;
}
.third-screen{
  width: 100%;
  height: 412px;
}
.work-1{
  height: 400px;
  width: 200px;
  border: 1px solid black;
  float: left;
  margin-left: 75px;
}
.work-2{
  height: 400px;
  width: 200px;
  border: 1px solid black;
  float: left;
  margin-left: 75px;
}
.work-3{
  height: 400px;
  width: 200px;
  border: 1px solid black;
  float: left;
  margin-left: 75px;
}
.circle{
width: 700px;
}
